.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

#shoppingCart {
  margin-top: 20px;
  cursor: pointer;
}